.main-layout {
  min-height: 100vh;
}

.logo {
  width: 100%;
  height: 63px;
  padding: 24px 16px;
  background-color: rgba(255, 255, 255, 0.1);
}

.inner-layout {
  padding: 0 24px 24px;
  background: #fff;
}

.slider {
  height: 100vh;
  position: sticky;
  top: 0;
  background: rgb(177, 22, 139)
    linear-gradient(0deg, rgba(58, 55, 156, 1) 0%, rgba(49, 96, 185, 1) 100%);
}

:global {
  .ant-menu.ant-menu-dark {
    background-color: transparent;
  }

  .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background-color: #0f1f58;
  }
}
