.mainLayout {
  min-height: 100vh;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.sideMenu {
  height: 100%;
  border-right: 1px solid #e2e5ed;
}

.innerLayout {
  padding: 0 24px 24px;
}

.content {
  margin: 0;
  background: #fff;
  padding: 18px;
}

.card {
  &__h6 {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 1.1;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: "IBM Plex Sans";
    margin-bottom: 8px;
  }

  &__h3 {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 0;
    margin-right: 5px;
  }

  &__container {
    display: flex;
    align-items: flex-end;
  }

  &__span {
    &_success {
      color: #10b759;
    }
    &_danger {
      color: #dc3545;
    }
  }

  &__p {
    margin-bottom: 0;
    font-size: 11px;
  }
}